#kids{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 100px;
    border: 3px solid ;
    border-radius: 15px;
    width: 500px;
    background-color:#89cff0 ;
    text-align: center;
    color: #FF6699;
}
.color1{
    background-color: #C25A47;
}
#coder1{
     margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 100px;
    border: 3px solid #0B1E0C;
    border-radius: 15px;
    width: 500px;
    background-color: grey;
    text-align: center;
}
.codex{
    background-color: #213F63;
}
#writers{
     margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 100px;
    border: 3px solid #2D865C;
    border-radius: 15px;
    width: 500px;
    background-color: #49A437;
    text-align: center;
}
.writers{
    background-color:  #674522;
}
#custom{
       margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 100px;
    border: 3px solid black;
    border-radius: 15px;
    width: 500px;
    background-color: yellow;
    text-align: center;
}
.custom{
    background-color: red;
}